.smile__tag{
    margin-top: 15rem;
    margin-bottom: 15rem;
    overflow: hidden;
}
header{
    position: fixed;
    top: 0;
}
.smile__kiki{
    width: 100%;
    position: relative;
}
.kiki__about{
    margin: 4rem 0;
    padding: 3rem;
}
.kiki__about h5{
    font-size: 25px;
}
.kiki__about{
    text-align: center;
    font-size: 21px;
    margin: 4rem 0;
}
.topper{
    position: relative;
    display:grid;
    left: -13rem;
    width: 100%;
    z-index: 7;
}
.gallery2{
    margin-top: 2rem;
}
.bottom{
    position: relative;
    display:grid;
    transform: rotate(180deg);
    right:10rem;
    width: 100%;
    z-index: 7;
}
